<main>
    <div mode="normal" class="Container__ContainerBox-sc-ljssq8-0 gfzgQW">
       <div class="Breadcrumb__Items-sc-u57e9u-0 geoYfy">
          <ul>
             <li><a href="/">Home</a></li>
             <li><a href="/products/">Products</a></li>
             <li><a href="/products/lit-channel-letters-and-logos/">Lit Channel Letters And Logos</a></li>
             <li>Face Lit Channel Letters  Logos</li>
          </ul>
       </div>
    </div>
    <div mode="full" class="Container__ContainerBox-sc-ljssq8-0 kvIZxg">
       <div class="Page__Content-sc-10z3ub3-0 fyITPr">
          <div class="product__Content1-sc-1p18dn7-1 eWifRh">
             <div mode="normal" class="Container__ContainerBox-sc-ljssq8-0 gfzgQW">
                <div class="PageHeader__MyPageHeader-sc-nby4t9-0 cxjKLv">
                   <div>
                      <h1 class="PageHeader__Header-sc-nby4t9-1 gMJeSo" style="margin: 0px 0px 10px;">Face Lit Channel
                         Letters  Logos</h1>
                      <div class="PageHeader__SubHeader-sc-nby4t9-2 cMPknN">Superbright LEDs and EZlit Mounting System
                      </div>
                   </div>
                </div>
                <div class="Layout2Columns__Layout-sc-1juvqas-0 dcuMxZ">
                   <div>
                      <p>The worlds only Plug-n-Play LED Lit channel letters. Build for easy installation by anyone.
                         Ship 100% complete and ready to install, including mounting pattern. Clear mounting tabs are
                         built in to make installation easier by not requiring the installer to open the letter to
                         fasten it to the wall.</p><a
                         href="/builder/?from=ProductPageproduct=lit-channel-letters-shapes"><button
                            type="button" label="Design  Price Now" color="red" title=""
                            class="HoverButton__Button-sc-1dfhhtw-0 iiidCc" fdprocessedid="ybemp"><svg
                               class="svg-inline--fa fa-chevron-right fa-w-10" xmlns="http://www.w3.org/2000/svg"
                               aria-hidden="true" viewBox="0 0 320 512" role="img">
                               <path fill="currentColor"
                                  d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                               </path>
                            </svg><span>Design  Price Now</span></button></a>
                      <div style="margin-top: 15px;"><img
                            src="https://storage.googleapis.com/signmonkey-148101.appspot.com/images/ul.png"
                            alt="UL Label" loading="lazy"
                            style="max-width: 100%; float: left; margin-right: 10px;">All our signs carry the UL label
                         and are tested and inspected by a UL certified inspector.</div>
                   </div>
                   <div><img
                         src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/products/lit-channel-letters-shapes.jpg?v1"
                         alt="Face Lit Channel Letters  Logos" loading="lazy"
                         style="max-width: 600px; width: 100%;"></div>
                </div>
             </div>
          </div>
          <div class="product__Content2-sc-1p18dn7-2 cDoBel">
             <div mode="normal" width="900" class="Container__ContainerBox-sc-ljssq8-0 eHbwgp">
                <div class="product__Videos-sc-1p18dn7-7 jImLcG" style="visibility: visible;">
                   <div class="Video__VideoContainer-sc-10f88kp-0 cmMliP video">
                      <div><iframe src="https://www.youtube.com/embed/CH-AhI4rBHQ?autoplay=0" width="420" height="315"
                            title="EZlit Letter Installation" frameborder="0" allowfullscreen="true"></iframe></div>
                   </div>
                   <div class="Video__VideoContainer-sc-10f88kp-0 cmMliP video">
                      <div><iframe src="https://www.youtube.com/embed/ycyOna1l1Tc?autoplay=0" width="420" height="315"
                            title="What's in the Box EZLit Plug n Play Channel Letters" frameborder="0"
                            allowfullscreen="true"></iframe></div>
                   </div>
                   <div class="Video__VideoContainer-sc-10f88kp-0 cmMliP video">
                      <div><iframe src="https://www.youtube.com/embed/kXlZ7p5Hpew?autoplay=0" width="420" height="315"
                            title="UL listing and Quality Control for Channel Letters" frameborder="0"
                            allowfullscreen="true"></iframe></div>
                   </div>
                </div>
                <div class="product__ContentGrid-sc-1p18dn7-0 kVCZUJ right">
                   <div class="Layout2Columns__Layout-sc-1juvqas-0 sGfIS">
                      <div class="image"><img
                            src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/construction/led_power_supply.jpg?v=3"
                            alt="LED Sign Letter Illumination  Power Supply"
                            class="product__ContentImage-sc-1p18dn7-6 jRiJSV"></div>
                      <div class="info">
                         <div>
                            <h3>LED Sign Letter Illumination  Power Supply</h3>
                            <div class="content">Weatherproof, high output LEDs are pre-installed inside all channel
                               letters. Safe 12 volt system with no chance of fire or electric shock. System is 100%
                               complete and ready to install, there is nothing more to buy. EZLit Power Supply units
                               are provided as part of the EZLit Power Delivery System.
                               <p>
                                  EZLit Power Supply units are provided as part of the EZLit Power Delivery System.
                               </p>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="product__ContentGrid-sc-1p18dn7-0 kVCZUJ left">
                   <div class="Layout2Columns__Layout-sc-1juvqas-0 gpIFLP">
                      <div class="image"><img
                            src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/construction/power_delivery.jpg?v=3"
                            alt="EZLit Sign Letter Power Delivery System"
                            class="product__ContentImage-sc-1p18dn7-6 jRiJSV"></div>
                      <div class="info">
                         <div>
                            <h3>EZLit Sign Letter Power Delivery System</h3>
                            <div class="content">Our patented Plug-n-Play EZLit power delivery system makes it
                               possible for anyone to install channel letters legally and safely. No electrical
                               experience or license is required. This is the only system of its kind and it is
                               protected under US Patent.</div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="product__ContentGrid-sc-1p18dn7-0 kVCZUJ right">
                   <div class="Layout2Columns__Layout-sc-1juvqas-0 sGfIS">
                      <div class="image"><img
                            src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/construction/illuminated_face_trim.jpg?v=3"
                            alt="Illuminated Channel Sign Letters Face  Trim"
                            class="product__ContentImage-sc-1p18dn7-6 jRiJSV"></div>
                      <div class="info">
                         <div>
                            <h3>Illuminated Channel Sign Letters Face  Trim</h3>
                            <div class="content">We use Modified High impact Acrylic to lessen the chance of breakage
                               in shipping and installation. Available in standard colors or any Pantone or Sherwin
                               Williams Color as well as Designer Faces (full color printed). Face Trim is extruded
                               plastic with aluminum core, can be any color and metallic finishes available.</div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="product__ContentGrid-sc-1p18dn7-0 kVCZUJ left">
                   <div class="Layout2Columns__Layout-sc-1juvqas-0 gpIFLP">
                      <div class="image"><img
                            src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/construction/letter_construction.jpg?v=3"
                            alt="Illuminated Sign Channel Letter Construction"
                            class="product__ContentImage-sc-1p18dn7-6 jRiJSV"></div>
                      <div class="info">
                         <div>
                            <h3>Illuminated Sign Channel Letter Construction</h3>
                            <div class="content">All aluminum weather sealed construction. Standard 5 inch depth on
                               all letter heights. Signs can be installed indoors or outdoors. We conduct a 32 point
                               quality inspection during manufacturing.</div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="product__ContentGrid-sc-1p18dn7-0 kVCZUJ right">
                   <div class="Layout2Columns__Layout-sc-1juvqas-0 sGfIS">
                      <div class="image"><img
                            src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/construction/illuminated_sign_letter_mounting_pattern.jpg?v=4"
                            alt="Illuminated Sign Letter Mounting Pattern"
                            class="product__ContentImage-sc-1p18dn7-6 jRiJSV"></div>
                      <div class="info">
                         <div>
                            <h3>Illuminated Sign Letter Mounting Pattern</h3>
                            <div class="content">All signs include a pre-spaced installation pattern. This is part of
                               the system that helps anyone install EZLit Channel Letters. This makes leveling and
                               centering your sign easy and fast.</div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="product__ContentGrid-sc-1p18dn7-0 kVCZUJ left">
                   <div class="Layout2Columns__Layout-sc-1juvqas-0 gpIFLP">
                      <div class="image"><img
                            src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/construction/illuminated_channel_letter_mounting_clips.jpg?v=5"
                            alt="Illuminated Channel Letter Mounting Clips"
                            class="product__ContentImage-sc-1p18dn7-6 jRiJSV"></div>
                      <div class="info">
                         <div>
                            <h3>Illuminated Channel Letter Mounting Clips</h3>
                            <div class="content">Mounting clips to make the installation as simple as possible. You
                               only need to supply appropriate fastener for you mounting surface. EZClips can be
                               folded behind the letter if you choose not to use them.</div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div mode="normal" width="900" class="Container__ContainerBox-sc-ljssq8-0 eHbwgp">
             <div class="product__OptionalContent-sc-1p18dn7-5 helatT">
                <h2>Optional Items</h2>
                <div>
                   <h3>Sign Background</h3>
                   <div class="content">Sign Backgrounds are installed behind your sign and in front of the mounting
                      surface. It can be used to add contract between your sign and the mounting surface or to cover
                      up some damage on the mounting surface. Backgrounds are built of a aluminum composite material
                      that can be painted whatever color you wish.</div>
                   <div><a href="/products/face-lit-channel-letters-and-logos/background/"><button type="button"
                            color="blue" label="Learn More" title="" class="HoverButton__Button-sc-1dfhhtw-0 djzfol"
                            fdprocessedid="v60ckk"><svg class="svg-inline--fa fa-chevron-right fa-w-10"
                               xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 320 512" role="img">
                               <path fill="currentColor"
                                  d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                               </path>
                            </svg><span>Learn More</span></button></a><img
                         src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/construction/sign_background.jpg?v=5"
                         alt="Sign Background" class="product__ContentImage-sc-1p18dn7-6 jRiJSV"></div>
                </div>
                <div>
                   <h3>Non Standard Letters  Shapes</h3>
                   <div class="content">We currently offer 10 standard type styles and about 60 standard shapes. If
                      you have a type style or shape that you need that we do not offer as standard, we can produce
                      your style with the same quality, speed and fair price that we offer for our standard products.
                   </div>
                   <div><a href="/products/face-lit-channel-letters-and-logos/nonstandard/"><button type="button"
                            color="blue" label="Learn More" title="" class="HoverButton__Button-sc-1dfhhtw-0 djzfol"
                            fdprocessedid="4ex3wr"><svg class="svg-inline--fa fa-chevron-right fa-w-10"
                               xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 320 512" role="img">
                               <path fill="currentColor"
                                  d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                               </path>
                            </svg><span>Learn More</span></button></a><img
                         src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/construction/non_standard_letters_and_shapes.jpg?v=5"
                         alt="Non Standard Letters  Shapes" class="product__ContentImage-sc-1p18dn7-6 jRiJSV">
                   </div>
                </div>
             </div>
          </div><br><br>
          <div class="product__Content3-sc-1p18dn7-3 ddrVcb">
             <div mode="normal" width="900" class="Container__ContainerBox-sc-ljssq8-0 eHbwgp">
                <div class="product__ContentGrid-sc-1p18dn7-0 kVCZUJ">
                   <div class="Layout2Columns__Layout-sc-1juvqas-0 gpIFLP">
                      <div>
                         <h2>Easy Installation</h2>
                         <p>Our products are designed to be installed by people with limited electricalexperience. UL
                            labeled and National Electric Code Approved</p><br>
                         <div style="display: flex; align-items: center;"><a
                               href="/documents/installation-ezlit-letters-and-logos"><img
                                  src="https://storage.googleapis.com/signmonkey-148101.appspot.com/images/SignTypes/Install-Guide-thumb.jpg"
                                  alt="Installation Instructions" loading="lazy" style="max-width: 100%;"></a><a
                               href="/documents/installation-ezlit-letters-and-logos">Installation Instructions</a>
                         </div>
                      </div>
                      <div class="image">
                         <div class="Video__VideoContainer-sc-10f88kp-0 cmMliP video">
                            <div><iframe src="https://www.youtube.com/embed/CH-AhI4rBHQ?autoplay=0" width="420"
                                  height="315" title="EZlit Letter Installation" frameborder="0"
                                  allowfullscreen="true"></iframe></div>
                         </div>
                      </div>
                   </div>
                   <div class="Layout2Columns__Layout-sc-1juvqas-0 jGfSUf">
                      <div>
                         <div class="product__Quote-sc-1p18dn7-8 rpWIM">
                            <div><svg class="svg-inline--fa fa-user-circle fa-w-16" xmlns="http://www.w3.org/2000/svg"
                                  aria-hidden="true" viewBox="0 0 496 512" role="img">
                                  <path fill="currentColor"
                                     d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z">
                                  </path>
                               </svg>Charles Coooper</div>
                            <p>"I did it all myself and i saved more than 50% than it would have cost from my local
                               sign company. Seriously!!"</p>
                            <div><a href="https://www.trustpilot.com/reviews/5bf41e029d378009543d63dc"
                                  target="_blank">(read full testimonial)</a></div>
                         </div>
                      </div>
                      <div>
                         <div class="product__Quote-sc-1p18dn7-8 rpWIM">
                            <div><svg class="svg-inline--fa fa-user-circle fa-w-16" xmlns="http://www.w3.org/2000/svg"
                                  aria-hidden="true" viewBox="0 0 496 512" role="img">
                                  <path fill="currentColor"
                                     d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z">
                                  </path>
                               </svg>Austin</div>
                            <p>"We honestly saved around $3000 dollars by using sign monkey and installing ourselves!"
                            </p>
                            <div><a href="https://www.trustpilot.com/reviews/5a5fe42b6116dd0f1078d792"
                                  target="_blank">(read full testimonial)</a></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="product__Content4-sc-1p18dn7-4 iSwlYL">
             <div mode="normal" width="900" class="Container__ContainerBox-sc-ljssq8-0 eHbwgp">
                <h2>Shipping</h2>
                <div class="Layout2Columns__Layout-sc-1juvqas-0 gpIFLP">
                   <div><img src="/static/3f943f0d86d531ac0a22fe7e04955952/4327a/ups.jpg"
                         alt="Example UPS Box Shipment" class="product__ContentImage-sc-1p18dn7-6 jRiJSV">
                      <h4>UPS Shipment</h4>
                      <p>All products small enough to fit into a box are shipped via UPS. We pack multiple items in
                         each box and pack them to arrive in perfect condition. Products are shipped ready to install.
                         You simply take the boxes to the installation site, carefully remove them from the packing
                         and install. There is no assembly required.</p>
                   </div>
                   <div><img src="/static/5fea3dd4793bb72af271fccf01435d6b/4327a/freight.jpg"
                         alt="Example Shipping Crate" class="product__ContentImage-sc-1p18dn7-6 jRiJSV">
                      <h4>Truck Freight Shipping</h4>
                      <p>When a product is to big to ship UPS, we will ship your item via truck freight. Your product
                         will be ready to install directly from the crate. You simply take the crate to the
                         installation location, unpack it, and install it onto the wall. Our crate is designed for
                         your item to arrive in perfect condition.</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </main>